/* src/Card.css */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(234, 224, 224, 0.1);
  margin: 20px;
  flex: 0 1 300px;
  color: #fff;
}
.card:hover{
  box-shadow: 0 4px 8px whitesmoke;
}

.card-image {
  width: 100%;
  height: 200px;
}
.card-image:hover{
  visibility: 0.7;
  height: 201px;
  width: 100.5%;
}
.card-body {
  padding: 16px;
}

.card-title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 8px;
}

.card-content {
  font-size: 1rem;
  color: #989393;
}
.card-title:hover{
  color: rgb(42, 198, 198);
  cursor: pointer;
}